<template lang="pug">
div.container
  div(v-if="activeAffiliates.length == 0 && inactiveAffiliates.length == 0")
    loading-spinner(message="Loading affiliates...")
  div(v-if="activeAffiliates.length > 0 || inactiveAffiliates.length > 0")
    b-row(align-h="between" align-v="center")
      h1 Manage Affiliates <router-link to="/affiliates/new"><b-button variant="success"><fa-icon icon="plus" size="lg"></fa-icon></b-button></router-link>
      b-form(inline)
        b-input(type="text" placeholder="search" v-model="searchText" @input="resultLimit = 20" debounce="500")

    div.jumbotron.justify-content-center.text-center
      h3 We have {{totalMembers}} active members in {{activeAffiliates.length}} affiliates

    div.row
      h2 Active Affiliates
      b-table(hover striped head-variant="dark" tbody-tr-class="table-row-link" @row-clicked="rowClicked" :fields="tableFields" :items="searchActiveAffiliatesResults" :sort-by.sync="sortActiveBy" :sort-desc.sync="sortActiveDesc")
        template(v-slot:cell(icon)="data")
          fa-icon(v-if="data.item.status == 'valid'" icon="check")/
          fa-icon(v-else-if="data.item.status == 'expiring'" icon="clock")/
        template(v-slot:cell(organisationType)="data"): fa-icon(:icon="data.value === 'Business' ? 'city' : 'graduation-cap'")/
        template(v-slot:cell(name)="data") {{data.item.name}} {{ data.item.createdDate.year }}
        template(v-slot:cell(members)="data") {{data.value}}
        template(v-slot:cell(validUntil)="data") {{data.item.validUntil.toFormat()}}

    div.row.justify-content-center.text-center
      p {{searchActiveAffiliatesResults.length}} search results

    div.row
      h2 Expired Affiliates
      b-table(hover striped head-variant="dark" tbody-tr-class="table-row-link" @row-clicked="rowClicked" :fields="tableFields" :items="displayedInactiveAffiliates" :sort-by.sync="sortExpiredBy" :sort-desc.sync="sortExpiredDesc")
        template(v-slot:cell(icon)="data"): fa-icon(icon="times")/
        template(v-slot:cell(organisationType)="data"): fa-icon(:icon="data.value === 'Business' ? 'city' : 'graduation-cap'")/
        template(v-slot:cell(name)="data") {{data.item.name}} {{ data.item.createdDate.year }}
        template(v-slot:cell(members)="data") {{data.value}}
        template(v-slot:cell(validUntil)="data") {{data.item.validUntil.toFormat()}}

    div.row.justify-content-center.text-center
      p {{searchInactiveAffiliatesResults.length}} search results
        span(v-show="displayedInactiveAffiliates.length < searchInactiveAffiliatesResults.length")  ({{displayedInactiveAffiliates.length}} shown)
    div.row.justify-content-center
      b-button(v-show="displayedInactiveAffiliates.length < searchInactiveAffiliatesResults.length" size="sm" variant="info" @click="loadMore()") Load more

    div.row.justify-content-center.mt-4
      b-button(variant="info" href="/api/affiliates/csv/") Download All Affiliate Members as CSV
      b-button.ml-2(variant="info" href="/api/affiliates/valid/csv/") Download Valid Affiliate Members as CSV
</template>

<script lang="ts">
import { DateTime } from 'luxon'
import router from '../router'
import { defineComponent } from 'vue'
import axios from 'axios'
import { showError } from '../notifications'

export default defineComponent({
  data: function () {
    return {
      resultLimit: 20,
      activeAffiliates: [] as any,
      inactiveAffiliates: [] as any,
      searchText: '',
      totalMembers: 0,
      now: DateTime.now(),
      expiryThreshold: DateTime.now().plus({ months: 1 }),
      tableFields: [
        { key: 'icon', label: '', sortable: false },
        { key: 'name', label: 'Name', sortable: true },
        { key: 'organisationType', label: 'Type', sortable: true },
        {
          key: 'members',
          label: 'Membership Count',
          sortable: true,
          formatter: (value: any, key: any, item: any) => {
            return item.members.length
          }
        },
        { key: 'validUntil', label: 'Expiry Date', sortable: true }
      ],
      sortActiveBy: 'validUntil',
      sortActiveDesc: false,
      sortExpiredBy: 'validUntil',
      sortExpiredDesc: true
    }
  },
  computed: {
    searchActiveAffiliatesResults: function () {
      return this.activeAffiliates.filter((affiliate: any) => {
        return affiliate.name.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
    searchInactiveAffiliatesResults: function () {
      return this.inactiveAffiliates.filter((affiliate: any) => {
        return affiliate.name.toLowerCase().includes(this.searchText.toLowerCase())
      }).sort((a: any, b: any) => b.validUntil - a.validUntil)
    },
    displayedInactiveAffiliates: function () {
      return this.searchInactiveAffiliatesResults.slice(0, this.resultLimit)
    }
  },
  mounted: function () {
    axios.get('/api/affiliates')
      .then(res => {
        // res.data.sort(this.sortByName)
        const actives = []; const inactives = []
        for (const affiliate of res.data) {
          affiliate.validUntil = DateTime.fromISO(affiliate.validUntil)
          affiliate.createdDate = DateTime.fromISO(affiliate.createdDate)

          // For all active affiliates...
          if (affiliate.validUntil > this.now) {
            this.totalMembers += affiliate.members.length

            // Compute affiliateship status
            if (affiliate.validUntil <= this.expiryThreshold && affiliate.affiliateshipType !== 'Lifetime') {
              affiliate.status = 'expiring'
            } else {
              affiliate.status = 'valid'
            }

            actives.push(affiliate)
          } else {
            affiliate.status = 'expired'
            inactives.push(affiliate)
          }
        }

        // Push to DOM
        this.activeAffiliates = actives
        this.inactiveAffiliates = inactives
      })
      .catch(err => showError('Fetching affiliates failed', err.response ? err.response.data : err))
  },
  methods: {
    loadMore () {
      this.resultLimit += 20
    },
    sortByName (a: any, b: any) {
      const nameA = a.name.toLowerCase()
      const nameB = b.name.toLowerCase()
      if (nameA < nameB) return -1
      if (nameA > nameB) return 1
      return 0
    },
    rowClicked (item: any) {
      router.push('/affiliates/' + item._id)
    }
  }
})
</script>
