<template lang="pug">
div.container
  div(v-if="events.length === 0")
    loading-spinner(message="Loading events...")

  div(v-else)
    b-row(align-h="between" align-v="center")
      h1 Manage events <router-link to="/events/new"><b-button variant="success"><fa-icon icon="plus" size="lg"></fa-icon></b-button></router-link>
      b-form(inline)
        b-input(type="text" placeholder="search" v-model="searchText" debounce="500")

    div.row
      table.table.table-bordered.table-hover.table-striped
        thead.thead-dark
          tr
            th Organizer
            th Event Name
            th Sponsor
            th Venue
            th Visitors
            th Date
        tbody
          tr.table-row-link(v-for="event in searchResults" :key="event._id" @click="$router.push('/events/edit/' + event._id)")
            td {{ event.organizer }}
            td {{ event.name }}
            td {{ event.sponsor }}
            td {{ event.location }}
            td
              span(v-if="event.visitorCountOverride > 0") {{ event.visitorCountOverride }}
              span(v-else-if="event.visitors.length + event.visitorCountOffset > 0") {{ event.visitors.length + event.visitorCountOffset }}
              span(v-else) -
            td {{ formatDate(event.date) }}

    div.row.justify-content-center
      p {{searchResults.length}} results
</template>

<script lang="ts" setup>
import { formatDate } from '../utils'
import axios from 'axios'
import { showError } from '../notifications'
import { computed, onMounted, ref } from 'vue'
import type { Event } from '../types'

const searchText = ref('')
const events = ref<Event[]>([])

const searchResults = computed(() => {
  if (!searchText.value) return events.value
  else {
    return events.value.filter(event => {
      const s = searchText.value.toLowerCase()

      if (event.organizer.toLowerCase().includes(s)) return true
      if (event.name.toLowerCase().includes(s)) return true
      if (event.sponsor.toLowerCase().includes(s)) return true
      if (event.location.toLowerCase().includes(s)) return true
      return false
    })
  }
})

onMounted(async () => {
  try {
    const eventsRes = (await axios.get<Event[]>('/api/events')).data

    for (const event of eventsRes) {
      event.date = new Date(event.date)
    }
    events.value = eventsRes
  } catch (err: any) {
    showError('Fetching events failed', err.response.data)
  }
})
</script>
