<template lang="pug">
div.container
  b-row(align-h="center").mb-4
    h1 Create New Member

  div.row
    div.col-md-4.d-none.d-md-block
      b-list-group.p-2
        b-list-group-item(active) Membership
        b-list-group-item.d-flex.justify-content-between.align-items-center Type <span>{{newMember.membershipType}}</span>
        b-list-group-item.d-flex.justify-content-between.align-items-center Joined <span>{{ formatDate(newMember.createdDate) }}</span>
        b-list-group-item.d-flex.justify-content-between.align-items-center(v-if="newMember.membershipType != 'Lifetime'") Expires <span>{{ formatDate(newMember.validUntil) }}</span>
      b-list-group.p-2
        b-list-group-item(active) Contact Information
        b-list-group-item.d-flex.justify-content-between.align-items-center Email <span>{{newMember.email}}</span>
        b-list-group-item.d-flex.justify-content-between.align-items-center Residence <span>{{newMember.postOffice}}</span>
    div.col-md-8
      b-form
        b-form-row
          b-form-group.col-sm-4(label="Membership Type *" label-for="type")
            b-select(name="type" v-model="newMember.membershipType" required)
              option Individual
              option Unemployed
              option Student
              option Lifetime
        b-form-row
          b-form-group.col-sm(label="First Name *" label-for="firstName")
            b-input(type="text" name="firstName" v-model="newMember.firstName" required)
          b-form-group.col-sm(label="Last Name *" label-for="lastName")
            b-input(type="text" name="lastName" v-model="newMember.lastName" required)
        b-form-row
          b-form-group.col-sm(label="Email *" label-for="email")
            b-input(type="email" name="email" v-model="newMember.email" required)
          b-form-group.col-sm(label="Place of Residence *" label-for="city")
            b-input(type="text" name="city" v-model="newMember.postOffice")
        b-form-row.justify-content-center
          b-button.m-4(variant="success" @click="createMember(newMember)" :disabled="!isFormValid") Create Member
</template>

<script>
import { formatDate } from '../utils'
import router from '../router'
import axios from 'axios'
import { showError, showSuccess } from '../notifications'

export default {
  data: function () {
    return {
      newMember: {
        membershipType: 'Individual',
        createdDate: new Date(),
        validUntil: new Date(), // For preview only - will be recomputed in backend
        firstName: '',
        lastName: '',
        email: '',
        postOffice: '',
        interests: {}
      }
    }
  },
  computed: {
    isFormValid: function () {
      let result = true
      if (this.newMember.firstName === '' ||
        this.newMember.lastName === '' ||
        this.newMember.email === '' ||
        this.newMember.postOffice === '') result = false
      return result
    }
  },
  mounted: function () {
    this.newMember.validUntil.setFullYear(this.newMember.validUntil.getFullYear() + 1, this.newMember.validUntil.getMonth() + 1, 0)
    this.newMember.validUntil.setHours(23, 59, 59)
  },
  methods: {
    createMember: function (newMember) {
      axios.post('/api/individual-members/new', newMember)
        .then(res => {
          showSuccess('Member created', res.data.firstName + ' is now in the club!')
          router.push({ path: '/individual-members' })
        })
        .catch(err => showError('Creating member failed', err.response.data))
    },
    formatDate,
  }
}
</script>
