<template lang="pug">
div.container
  div(v-if="!users")
    loading-spinner(message="Loading users...")

  div.container(v-if="users")
    div.row.justify-content-center
      h1 Change User Roles
    div.row.justify-content-center
      p: i Note: Please be careful not to change your own role to be lower than admin or you can't see this page anymore!

    br/
    br/
    div.row.justify-content-center
      div.col-md-8
        table.table.table-bordered
          thead.thead-dark
            tr
              th User
              th Current Role
              th New Role
          tbody
            tr(v-for="user in users")
              td {{user.name}}
              td {{user.roleName}}
              td
                form(name="roleSelectForm")
                  select(v-model="user.role" v-on:change="changeUserRole(user._id, user.role)")
                    option(value="1") New User
                    option(value="2") Volunteer
                    option(value="3") Board Member
                    option(value="4") Admin
                    option(value="5") Developer
                  b-button.ml-3(variant="danger" size="sm" @click="deleteUser(user._id)") Delete

  dev-data-dump(v-bind:data="users")
</template>

<script>
import { useStore } from '../store'
import axios from 'axios'
import { showError, showSuccess } from '../notifications'

export default {
  data: function () {
    return {
      users: null,
    }
  },
  mounted: function () {
    this.getUsers()
  },
  methods: {
    getUsers: function () {
      axios.get('/api/roles')
        .then(res => (this.users = res.data))
        .catch(err => showError('Fetching users failed', err.response.data))
    },
    changeUserRole: function (id, newRole) {
      axios.put('/api/roles/' + id, { newRole })
        .then(res => {
          showSuccess('Role updated!', res.data.name + ' is now <b>' + res.data.roleName + '</b>')
          this.getUsers()
        })
        .catch(err => showError('Updating role failed', err.response.data))
    },
    deleteUser: function (id) {
      axios.delete('/api/roles/' + id)
        .then(res => {
          showSuccess('Account deleted!')
          this.getUsers()
        })
        .catch(err => showError('Deleting account failed', err.response.data))
    }
  }
}
</script>
