<template lang="pug">
div.container
  div(v-if="visitors.length === 0")
    loading-spinner(message="Loading visitors...")

  div(v-else)
    b-row(align-h="between" align-v="center")
      h1 Manage visitors <router-link to="/events/new-visitor"><b-button variant="success"><fa-icon icon="plus" size="lg"></fa-icon></b-button></router-link>
      b-form(inline)
        b-input(type="text" placeholder="search" v-model="searchText" @click="resultLimit = 20" debounce="500")

    div.row
      table.table.table-bordered.table-hover.table-striped
        thead.thead-dark
          tr
            th Last Name
            th First Name
            th Company
            th Email
        tbody
          tr.table-row-link(v-for="visitor in displayedVisitors" :key="visitor._id" @click="$router.push('/events/visitors/' + visitor._id)")
            td {{visitor.lastName}}
            td {{visitor.firstName}}
            td {{visitor.organization}}
            td {{visitor.email}}

    div.row.justify-content-center.text-center
      p {{searchResults.length}} search results
        span(v-show="displayedVisitors.length < searchResults.length")  ({{displayedVisitors.length}} shown)
    div.row.justify-content-center
      b-button(v-show="displayedVisitors.length < searchResults.length" size="sm" variant="info" @click="loadMore()") Load more
</template>

<script lang="ts" setup>
import axios from 'axios'
import type { Visitor } from '../types'
import { showError } from '../notifications'
import { computed, onMounted, ref } from 'vue'

const resultLimit = ref(20)
const visitors = ref<Visitor[]>([])
const searchText = ref('')

const searchResults = computed(() => {
  return visitors.value.filter(visitor => {
    const s = searchText.value.toLowerCase()
    let hit = false

    // These could be cached but does it matter?
    const lastAndFirst = visitor.lastName + ' ' + visitor.firstName
    const firstAndLast = visitor.firstName + ' ' + visitor.lastName

    if (firstAndLast.toLowerCase().includes(s)) { hit = true } else if (lastAndFirst.toLowerCase().includes(s)) { hit = true } else if (visitor.organization) {
      if (visitor.organization.toLowerCase().includes(s)) { hit = true }
    } else if (visitor.email) {
      if (visitor.email.toLowerCase().trim().includes(s)) { hit = true }
    }

    return hit
  })
})

const displayedVisitors = computed(() => {
  return searchResults.value.slice(0, resultLimit.value)
})

onMounted(async () => {
  try {
    visitors.value = (await axios.get<Visitor[]>('/api/visitors')).data.sort((a, b) => {
      if (!a.lastName) return 1
      if (!b.lastName) return -1
      const nameA = a.lastName.toLowerCase()
      const nameB = b.lastName.toLowerCase()
      if (nameA < nameB) return -1
      if (nameA > nameB) return 1
      return 0
    })
  } catch (err: any) {
    showError('Fetching visitors failed', err.response.data)
  }
})

function loadMore () {
  resultLimit.value += 20
}
</script>
