<template lang="pug">
div.container
  div(v-if="!mailchimp && visitor")
    loading-spinner(message="Loading visitor and MailChimp data...")

  div(v-else-if="visitor && mailchimp")
    div.row
      h1 Edit Visitor
    br/
    div.row
      div.col-md-4.d-none.d-md-block
        b-list-group.mb-3
          b-list-group-item(active) Visitor Details
          b-list-group-item.d-flex.justify-content-between.align-items-center First name <span>{{visitor.firstName}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Last name <span>{{visitor.lastName}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Email <span>{{visitor.email}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Organization <span>{{visitor.organization}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center Last Updated <span>{{visitor.lastUpdated}}</span>
        b-list-group.mb-3
          b-list-group-item(active) MailChimp Overview
          b-list-group-item.d-flex.justify-content-between.align-items-center Status <span>{{mailchimp.status}}</span>
          b-list-group-item.d-flex.justify-content-between.align-items-center(v-if="mailchimp.stats") Email Open Rate <span>{{mailchimp.stats.avg_open_rate}}</span>
        b-list-group(v-if="mailchimp.stats").mb-3
          b-list-group-item(active) MailChimp Groups
          b-list-group-item.d-flex.justify-content-between.align-items-center(v-for="interest in mailchimp.namedInterests" :key="interest.name") {{interest.name}} <span>{{interest.status}}</span>
        b-list-group.mb-3
          b-list-group-item(active) Remove Visitor From Database
          b-list-group-item.text-center
            p(v-if="store.userRole >= 4") Warning: can not be undone!
            p(v-else) Dangerous - for admins only
            b-button(variant="danger" @click="deleteVisitor" :disabled="store.userRole < 4") Delete Visitor
      div.col-md-8
        b-form
          b-form-row
            b-form-group.col-sm(label="First Name *" label-for="firstName")
              b-input(type="text" name="firstName" v-model="visitor.firstName" required)
            b-form-group.col-sm(label="First Name *" label-for="lastName")
              b-input(type="text" name="lastName" v-model="visitor.lastName" required)
          b-form-row
            b-form-group.col-sm(label="Email *" label-for="email")
              b-input(type="email" name="email" v-model="visitor.email" required)
            b-form-group.col-sm(label="Organization" label-for="organization")
              b-input(type="text" name="organization" v-model="visitor.organization")
          b-form-row
            b-form-group.col-sm(label="MailChimp Mailing Lists" v-if="mailchimp.stats")
              //- TODO: not sure about this TS error... seems like a false alarm.
              b-form-checkbox(v-for="group in mailchimp.namedInterests" :key="group.id" v-model="mailchimp.interests[group.id]") {{ group.name }}
          b-form-row.justify-content-center.m-4
            b-button(variant="success" @click="updateVisitor" :disabled="!isFormValid") Update Visitor

  raw-data(:data="visitor" title="visitor")
  raw-data(:data="mailchimp" title="mailchimp")
</template>

<script lang="ts" setup>
import { useStore } from '../store'
import router from '../router'
import axios from 'axios'
import { showError, showSuccess } from '../notifications'
import { computed, onMounted, ref } from 'vue'
import type { Visitor } from '../types'
import { useRoute } from 'vue-router/composables'

const store = useStore()
const route = useRoute()

type MailchimpUser = {
  id: string,
  email_address: string,
  unique_email_id: string,
  contact_id: string,
  full_name: string,
  web_id: number,
  email_type: string,
  status: string,
  consents_to_one_to_one_messaging: boolean,
  merge_fields: {
    FNAME: string,
    LNAME: string
  },
  interests: {
    [key: string]: boolean
  }[],
  stats: {
    avg_open_rate: number,
    avg_click_rate: number
  },
  ip_signup: string,
  timestamp_signup: string,
  ip_opt: string,
  timestamp_opt: string,
  member_rating: number,
  last_changed: string,
  language: string,
  vip: boolean,
  email_client: string,
  location: {
    latitude: number,
    longitude: number,
    gmtoff: number,
    dstoff: number,
    country_code: string,
    timezone: string,
    region: string
  },
  source: string,
  tags_count: number,
  tags: string[],
  list_id: string,
  _links: any[],
  statusCode: number,
  namedInterests: {
    id: string,
    name: string,
    status: boolean
  }[]
}

const mailchimp = ref<MailchimpUser>()
const oldEmail = ref<string>()
const visitor = ref<Visitor>()

const isFormValid = computed(() => {
  if (visitor.value?.firstName === '' || visitor.value?.lastName === '' || visitor.value?.email === '') return false
  return true
})

onMounted(async () => {
  try {
    visitor.value = (await axios.get<Visitor>('/api/visitors/' + route.params.id)).data
    oldEmail.value = visitor.value?.email

    try {
      mailchimp.value = (await axios.post('/api/visitors/mailchimp/', { email: visitor.value?.email })).data
    } catch (err: any) {
      showError('Fetching MailChimp data failed', err.response.data)
    }
  } catch (err: any) {
    showError('Fetching visitor failed', err.response.data)
  }
})

async function updateVisitor () {
  try {
    await axios.put('/api/visitors/' + visitor.value?._id, visitor.value)
    showSuccess('Visitor updated', visitor.value?.firstName + ' is now up-to-date!')
    router.push({ path: '/events/visitors' })
  } catch (err: any) {
    showError('Updating visitor failed', err.response.data)
  }
}

async function deleteVisitor () {
  try {
    await axios.delete('/api/visitors/' + visitor.value?._id)
    showSuccess('Visitor deleted')
    router.push({ path: '/events/visitors' })
  } catch (err: any) {
    showError('Deleting event failed', err.response.data)
  }
}

</script>
