<template lang="pug">
div#dev-data-dump.container(v-if="store.userRole == 5")
  div.row
    h3 Raw <small class="text-muted">(devs only)</small>
  div.row
    pre: code {{ data }}
</template>

<script lang="ts" setup>
import { useStore } from '../store'

const store = useStore()

defineProps({
  data: {
    type: String,
    default: null
  }
})
</script>

<style lang="scss">
#dev-data-dump {
  margin-top: 50px;

  pre {
    background-color: lightgray;
  }
}
</style>
